<!--<navbar></navbar>-->
<!--
<md-dialog>
	<md-dialog-content>
-->
		<div class="login">
			<div class="login-content" layout="column" layout-align="center-center">
				<div class="welcome-text" layout="row" layout-align="center center">
					<img src="images/gsf_logo.png">
					<span>{{signedUp ? 'Welcome back!' : 'Join us!'}}</span>
				</div>
				<md-divider></md-divider>
				<div class="login-break">Continue with</div>
				<div class="login-social" layout="row" layout-align="space-around center">
					<md-button class="login-fb md-raised" ng-click="loginFb()">
						<i class="icon-facebook"></i>
					</md-button>
					<md-button class="login-gplus md-raised" ng-click="loginGplus()">
						<i class="icon-google-plus"></i>
					</md-button>
					<md-button class="login-twitter md-raised" ng-click="loginTwitter()">
						<i class="icon-twitter"></i>
					</md-button>
				</div>

				<div class="login-break" layout="row" layout-align="center center"><span class="divider" flex></span><span>OR</span><span class="divider" flex></span>
				</div>
				<div class="login-email">
					<form name="loginForm" novalidate>
						<md-input-container class="md-icon-float velocity-opposites-transition-slideUpBigIn" ng-show="!signedUp" data-velocity-opts="{display: null}" md-no-float>
							<md-icon md-font-icon="icon-user" style="margin-left: 2px"></md-icon>
							<input type="text" name="userName" ng-model="userName" ng-model-options="{ updateOn: 'blur' }" placeholder="Your name" required>
						</md-input-container>

						<md-input-container class="md-icon-float" md-no-float>
							<md-icon md-font-icon="icon-email"></md-icon>
							<input type="email" name="userEmail" ng-model="userEmail" ng-model-options="{ updateOn: 'blur' }" placeholder="you@example.com" required>
							<div class="login-error" ng-messages="loginForm.userEmail.$error" ng-show="loginForm.userEmail.$dirty && loginForm.userEmail.$invalid" role="alert">
								<div ng-message="email">Please enter valid email id</div>
							</div>
						</md-input-container>

						<md-input-container class="md-icon-float" md-no-float>
							<md-icon md-font-icon="icon-password"></md-icon>
							<input type="password" name="userPassword" ng-model="userPassword" ng-model-options="{ updateOn: 'blur' }" placeholder="***********" required>
							<div class="login-error" ng-messages="loginForm.userPassword.$error" ng-show="loginForm.userPassword.$dirty && loginForm.userPassword.$invalid" role="alert">
								<div ng-message="required">Please enter a password!</div>
							</div>
						</md-input-container>
						<md-checkbox class="md-primary">Remember me</md-checkbox>
						<md-button ng-disabled="!loginForm.$valid">{{signedUp ? 'Login' : 'Sign Up'}}</md-button>
					</form>
				</div>

				<div class="login-change" ng-click="signedUp = !signedUp">
					{{signedUp ? 'New user?' : 'Already signed up?'}}
				</div>
			</div>
			<div id="fb-root"></div>
		</div>
<!--
</md-dialog-content>
</md-dialog>-->
